/* 
body{
    background-color: yellow;
} */


.product_img{
    width : 2440px;
     height :730 px
}

/* fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');